@charset "UTF-8";
.set{
    display: flex;
    flex-direction: row;
    margin-left: 18%;
    margin-top: 9%;
    font: 'poppins',sans-serif;
    box-sizing: border-box;

}
.logo{
    width: 35%;
    height: 450px;
    background-color: #041253;

}
img{
    width: 80%;
    height: auto;
    margin-top: 38%;
    margin-left: 9%;
}
.set1{
    margin-left: 46.7%;
    padding-top:  0%;
    font: 'poppins',sans-serif;
    box-sizing: border-box;

}
.user{
    width: 35%;
    height: 450px;
    background-color: #DBDADA;
}
form{
    display: flex;
    flex-direction: column;
}
.login{
    margin-left: 43%;
    margin-top: 6%;
}
.name{
    margin-left: 36%;
    margin-top: 4%;
}
.nameplace{
    margin-left: 29.5%;
    margin-top: 3%;
    width: 40%;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
}
.mobile{
    margin-left: 30%;
    margin-top: 4%;
}
.mobileplace{
    margin-left: 29.5%;
    margin-top: 3%;
    width: 40%;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
}
.email{
    margin-left: 36%;
    margin-top: 4%;
}
.emailplace{
    margin-left: 29.5%;
    margin-top: 3%;
    width: 40%;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
}
.pass{ 
    margin-left: 36%;
    padding-top: 4%;
}
.passplace{
    margin-left: 29.5%;
    margin-top: 4%;
    width: 40%;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
}
.submit{
    margin-top: 6%;
    width: 20%;
    margin-left: 41%;
    color: black;
    border-radius: 8px;
    cursor: pointer;
}
.sign_up{
    margin-top: 7%;
    margin-left: 32%;
}